{% extends 'base.html' %}
{% load leaflet_tags %}
{% block extrahead %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
{% endblock extrahead %}
{% block content %}
<div class="min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto">
        {% include 'back.html' %}
        {{ fishing_session.location|json_script:"marker-data" }}
        <div class="bg-white rounded-lg shadow overflow-hidden">
            <div class="px-4 py-5 sm:px-6">
                <h1 class="text-3xl font-bold text-gray-900">Session Details</h1>
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
                <div class="space-y-8">
                    <!-- fishing_session Information -->
                    {% if fishing_session %}
                    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Started</label>
                            <p class="mt-1 text-lg text-gray-900">{{ fishing_session.fishing_session.start_datetime }}</p>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Ended</label>
                            <p class="mt-1 text-lg text-gray-900">{{ fishing_session.fishing_session.end_datetime|default:'Ongoing' }}</p>
                            {% if fishing_session.fishing_session.end_datetime is None %}
                            <form method="post" action="{% url 'end-session' fishing_session.fishing_session.id %}">
                                {% csrf_token %}
                                <button type="submit" class="mt-2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                    End Session
                                </button>
                            </form>
                            {% endif %}
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">User</label>
                            <p class="mt-1 text-lg text-gray-900">{{ fishing_session.fishing_session.user }}</p>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">UUID</label>
                            <p class="mt-1 text-lg text-gray-900">{{ fishing_session.fishing_session.uuid }}</p>
                        </div>
                        <div class="sm:col-span-2">
                            <label class="block text-sm font-medium text-gray-700">Catches in this Session</label>
                            <div class="mt-2 space">
                                {% for catch in fishing_session.catches.all %}
                                    {% include 'catch.html' with catch=catch %}
                                {% empty %}
                                    <p class="text-gray-600">No catches logged in this session.</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label class="block text-sm font-medium text-gray-700">Location</label>
                            <p class="mt-1 text-lg text-gray-900">Long: {{ fishing_session.location.longitude }}, Lat: {{ fishing_session.location.latitude }}</p>
                            <div>
                                {% leaflet_map "yourmap" %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p class="text-red-500">Session not found or you do not have permission to view this session.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Listen for the map initialization event
    window.addEventListener("map:init", function (e) {
        // The map object is inside e.detail.map
        window.myMap = e.detail.map; // store map in window.myMap for global access
        const markerData = JSON.parse(document.getElementById('marker-data').textContent); // Get coords from marker-data
        if (markerData) { // markerData exists
            const latitude = markerData.latitude; // get latitude from markerData
            const longitude = markerData.longitude; // get longitude from markerData
            if (window.myMap) { // check if map is initialized
                const marker = L.marker([latitude, longitude]).addTo(window.myMap); // add marker to map
                window.myMap.setView([latitude, longitude], 15); // center map on marker
            } else {
                console.error("Map is not initialized yet."); // log error if map not initialized
            }
        }
     }, false);
</script>
{% endblock %}